:root {

    --clr-veryDarkMagenta: hsl(300, 43%, 22%);
    --clr-SoftPink: hsl(333, 80%, 67%);

    --clr-DarkGrayishMagenta: hsl(303, 10%, 53%);
    --clr-LightGrayishMagenta: hsl(300, 24%, 96%);
    --clrWhite: hsl(0, 0%, 100%);

    --rem: 15px;
}

*,
*::before,
*::after {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* img{
    display: block;
    max-width: 100%;
} */

.container{
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 5rem 1.5rem;
    border: 2px solid red;
}

.header-and-reviews{
    text-align: center;
}

header h2{
    color: var(--clr-veryDarkMagenta);
    font-size: 2rem;
}

header p{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: var(--clr-veryDarkMagenta);
    line-height: 1.6;
}

.user-review{
    color: var(--clr-veryDarkMagenta);
    background-color: var(--clr-LightGrayishMagenta);
    font-weight: 700;
    padding-block: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.review-comments{
    margin-top: 0.5rem;
}

.card{
    background-color: var(--clr-veryDarkMagenta);
    color: var(--clrWhite);
    padding: 2.5rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    line-height: 1.2;

}

.user-image{
    width: 2.625rem; /* 42px */
    height: 2.625rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 1rem;
}

.image-colton{
    background-image: url("/images/image-colton.jpg");
}

.image-irene{
    background-image: url("/images/image-irene.jpg");
    
}

.image-anne{
    background-image: url("/images/image-anne.jpg");

}

.card-flex{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.user-name-title span{
    color: var(--clr-SoftPink);
    font-weight: 500;
}

@media all and (min-width: 1080px) {
    body{
        /* background-color: red; */

    }

    .container{
        max-width: 1200px;
    }

    .header-and-reviews{
        display: flex;
    }

    header, .users-review{
        flex: 1;

    }

    .user-review{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aqua;
        width: 90%;
        max-width: 27.75rem; /*44px*/
        padding-inline: 1.5rem;
        margin-inline: auto;
        
    }

    .review-comments{
        margin-top: 0;
    }
}